{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Huler Orgs and Users API"
  },
  "servers": [
    {
      "url": "https://api.huler.io/v1"
    }
  ],
  "paths": {
    "/organisation": {
      "post": {
        "tags": [
          "OrganisationAPI"
        ],
        "summary": "Create a new organisation.",
        "requestBody": {
          "description": "Organisation data request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "example": {
                      "email": "oprah.winfrey@cnn.com",
                      "name": "Oprah Winfrey",
                      "phone": "+447816098765"
                    }
                  },
                  "organisation": {
                    "type": "object",
                    "example": {
                      "path": "cnn"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organisation Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "example": "cnn"
                    },
                    "name": {
                      "type": "string",
                      "example": "Oprah Winfrey"
                    },
                    "createdAt": {
                      "type": "string",
                      "example": "0001-01-01T00:00:00Z"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "0001-01-01T00:00:00Z"
                    },
                    "deletedAt": {
                      "type": "string",
                      "example": ""
                    },
                    "licenseLimit": {
                      "type": "number",
                      "example": 0
                    },
                    "arePoliciesEnabled": {
                      "type": "bool",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "This organisation path already exists"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organisation/{orgPath}": {
      "get": {
        "tags": [
          "OrganisationAPI"
        ],
        "summary": "Request an organisation",
        "responses": {
          "200": {
            "description": "Organisation returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "example": "cnn"
                    },
                    "name": {
                      "type": "string",
                      "example": "Oprah Winfrey"
                    },
                    "createdAt": {
                      "type": "string",
                      "example": "0001-01-01T00:00:00Z"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "0001-01-01T00:00:00Z"
                    },
                    "deletedAt": {
                      "type": "string",
                      "example": ""
                    },
                    "licenseLimit": {
                      "type": "number",
                      "example": 0
                    },
                    "arePoliciesEnabled": {
                      "type": "bool",
                      "example": true
                    },
                    "HulerConfigParameters": {
                      "type": "string",
                      "example": ""
                    },
                    "OrganisationAttributes": {
                      "type": "string",
                      "example": ""
                    },
                    "OrganisationCapabilities": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden from accessing this organisation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Organisation path not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "/organisation/search": {
        "post": {
          "tags": [
            "OrganisationAPI"
          ],
          "summary": "Search for an existing organisation with path",
          "requestBody": {
            "description": "Organisation search payload",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "example": "cnn"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Organisation Found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "path": {
                        "type": "string",
                        "example": "cnn"
                      },
                      "sso": {
                        "type": "bool",
                        "example": true
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "404": {
              "description": "Organisation path not found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        }
      }
    },
    "/organisation/{orgPath}/attributes": {
      "get": {
        "tags": [
          "OrganisationAPI"
        ],
        "summary": "Request organisation attributes",
        "responses": {
          "200": {
            "description": "The attribute was created/replaced",
            "schema": {
              "OrganisationAttributes": {
                "type": "string",
                "example": ""
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden from accessing this orgs attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organisation/{orgPath}/attribute/{attributeName}": {
      "put": {
        "tags": [
          "OrganisationAPI"
        ],
        "summary": "Create/Replace a specific attribute of an organisation",
        "requestBody": {
          "description": "Attribute update request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customName": {
                    "type": "string",
                    "example": "Band"
                  },
                  "values": {
                    "type": "array",
                    "example": [
                      "Band 1",
                      "Band 2",
                      "Band 3"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The attribute was created/replaced",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden from updating this orgs attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organisation/{orgPath}/config": {
      "put": {
        "tags": [
          "OrganisationAPI"
        ],
        "summary": "Create/Update an organisations hulerhub config",
        "requestBody": {
          "description": "Config request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "HulerConfigParameters": {
                    "type": "object",
                    "properties": {
                      "darkModeFaviconURL": {
                        "type": "string",
                        "example": ""
                      },
                      "darkModeLogoURL": {
                        "type": "string",
                        "example": ""
                      },
                      "darkModePrimaryColour": {
                        "type": "string",
                        "example": ""
                      },
                      "defaultDark": {
                        "type": "boolean",
                        "example": false
                      },
                      "lightModeFaviconURL": {
                        "type": "string",
                        "example": ""
                      },
                      "lightModeLogoURL": {
                        "type": "string",
                        "example": ""
                      },
                      "lightModePrimaryColour": {
                        "type": "string",
                        "example": ""
                      },
                      "logoType": {
                        "type": "string",
                        "example": "TEXT_LOGO"
                      },
                      "textLogo": {
                        "type": "string",
                        "example": ""
                      },
                      "textLogoColour": {
                        "type": "string",
                        "example": "#ea1616"
                      },
                      "todayTileURL": {
                        "type": "object",
                        "properties": {
                          "thumbnailUrl": {
                            "type": "string",
                            "example": ""
                          },
                          "thumbnailUrlCroppedLandscape": {
                            "type": "string",
                            "example": ""
                          },
                          "thumbnailUrlCroppedPortrait": {
                            "type": "string",
                            "example": ""
                          },
                          "thumbnailUrlCroppedSquare": {
                            "type": "string",
                            "example": ""
                          }
                        }
                      }
                    }
                  },
                  "isDefaultBranding": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The config was updated/created"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "forbiddenResponse": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string",
            "example": "User is not authorized to access this resource with an explicit deny"
          }
        }
      },
      "conflictResponse": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string",
            "example": "This resource already exists"
          }
        }
      }
    }
  }
}