{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Huler Orgs and Users API"
  },
  "servers": [
    {
      "url": "https://api.huler.io/v1"
    }
  ],
  "paths": {
    "/organisation": {
      "post": {
        "tags": [
          "OrganisationAPI"
        ],
        "summary": "Create a new organisation.",
        "requestBody": {
          "description": "Organisation data request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "example": {
                      "email": "oprah.winfrey@cnn.com",
                      "name": "Oprah Winfrey",
                      "phone": "+447816098765"
                    }
                  },
                  "organisation": {
                    "type": "object",
                    "example": {
                      "path": "cnn"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organisation Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "example": "cnn"
                    },
                    "name": {
                      "type": "string",
                      "example": "Oprah Winfrey"
                    },
                    "createdAt": {
                      "type": "string",
                      "example": "0001-01-01T00:00:00Z"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "0001-01-01T00:00:00Z"
                    },
                    "deletedAt": {
                      "type": "string",
                      "example": ""
                    },
                    "licenseLimit": {
                      "type": "number",
                      "example": 0
                    },
                    "arePoliciesEnabled": {
                      "type": "bool",
                      "example": true
                    },
                    "HulerConfigParameters": {
                      "type": "string",
                      "example": ""
                    },
                    "OrganisationAttributes": {
                      "type": "string",
                      "example": ""
                    },
                    "OrganisationCapabilities": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "This organisation path already exists"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "OrganisationAPI"
        ],
        "summary": "Search for an existing organisation with path parameter",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Path/name of the organisation to search for",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organisation Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "example": "cnn"
                    },
                    "sso": {
                      "type": "bool",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Organisation path not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organisation/{orgPath}": {
      "get": {
        "tags": [
          "OrganisationAPI"
        ],
        "summary": "Request an organisation",
        "responses": {
          "200": {
            "description": "Organisation returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "example": "cnn"
                    },
                    "name": {
                      "type": "string",
                      "example": "Oprah Winfrey"
                    },
                    "createdAt": {
                      "type": "string",
                      "example": "0001-01-01T00:00:00Z"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "0001-01-01T00:00:00Z"
                    },
                    "deletedAt": {
                      "type": "string",
                      "example": ""
                    },
                    "licenseLimit": {
                      "type": "number",
                      "example": 0
                    },
                    "arePoliciesEnabled": {
                      "type": "bool",
                      "example": true
                    },
                    "HulerConfigParameters": {
                      "type": "string",
                      "example": ""
                    },
                    "OrganisationAttributes": {
                      "type": "string",
                      "example": ""
                    },
                    "OrganisationCapabilities": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden from accessing this organisation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Organisation path not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organisation/{orgPath}/attributes": {
      "get": {
        "tags": [
          "OrganisationAPI"
        ],
        "summary": "Request organisation attributes",
        "responses": {
          "200": {
            "description": "The attribute was retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customName": {
                      "type": "string",
                      "example": "Band"
                    },
                    "values": {
                      "type": "array",
                      "example": [
                        "Band 1",
                        "Band 2",
                        "Band 3"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden from accessing this orgs attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organisation/{orgPath}/attribute/{attributeName}": {
      "put": {
        "tags": [
          "OrganisationAPI"
        ],
        "summary": "Create/Replace a specific attribute of an organisation",
        "requestBody": {
          "description": "Attribute update request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customName": {
                    "type": "string",
                    "example": "Band"
                  },
                  "values": {
                    "type": "array",
                    "example": [
                      "Band 1",
                      "Band 2",
                      "Band 3"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The attribute was replaced",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden from updating this orgs attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organisation/{orgPath}/config": {
      "put": {
        "tags": [
          "OrganisationAPI"
        ],
        "summary": "Create/Update an organisations hulerhub config",
        "requestBody": {
          "description": "Config request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "HulerConfigParameters": {
                    "type": "object",
                    "properties": {
                      "darkModeFaviconURL": {
                        "type": "string",
                        "example": ""
                      },
                      "darkModeLogoURL": {
                        "type": "string",
                        "example": ""
                      },
                      "darkModePrimaryColour": {
                        "type": "string",
                        "example": ""
                      },
                      "defaultDark": {
                        "type": "boolean",
                        "example": false
                      },
                      "lightModeFaviconURL": {
                        "type": "string",
                        "example": ""
                      },
                      "lightModeLogoURL": {
                        "type": "string",
                        "example": ""
                      },
                      "lightModePrimaryColour": {
                        "type": "string",
                        "example": ""
                      },
                      "logoType": {
                        "type": "string",
                        "example": "TEXT_LOGO"
                      },
                      "textLogo": {
                        "type": "string",
                        "example": ""
                      },
                      "textLogoColour": {
                        "type": "string",
                        "example": "#ea1616"
                      },
                      "todayTileURL": {
                        "type": "object",
                        "properties": {
                          "thumbnailUrl": {
                            "type": "string",
                            "example": ""
                          },
                          "thumbnailUrlCroppedLandscape": {
                            "type": "string",
                            "example": ""
                          },
                          "thumbnailUrlCroppedPortrait": {
                            "type": "string",
                            "example": ""
                          },
                          "thumbnailUrlCroppedSquare": {
                            "type": "string",
                            "example": ""
                          }
                        }
                      }
                    }
                  },
                  "isDefaultBranding": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The config was updated"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organisation/{orgPath}/tandc": {
      "put": {
        "tags": [
          "OrganisationAPI"
        ],
        "operationId": "updatetandc-user",
        "summary": "Update the Terms and Conditions for an organisation",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          }
        ],
        "requestBody": {
          "description": "User data request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hulerTermsVersionId": {
                    "type": "string"
                  },
                  "orgTermsVersionId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "400 Bad Request"
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenResponse"
                }
              }
            }
          },
          "500": {
            "description": "500 Internal Server Error"
          }
        }
      }
    },
    "/users/{orgPath}": {
      "get": {
        "tags": [
          "UsersAPI"
        ],
        "summary": "Get a list of users for an organisation, should be filterable with querys",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "example": 10
            },
            "required": false,
            "description": "Number of users to return in request body."
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "example": 10
            },
            "required": false,
            "description": "The offset of data (page 2 of 10 items per page would be offset 10)"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "user structure goes here"
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request"
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenResponse"
                }
              }
            }
          },
          "500": {
            "description": "500 Internal Server Error"
          }
        }
      }
    },
    "/users/{orgPath}/{userEmail}": {
      "post": {
        "tags": [
          "UsersAPI"
        ],
        "operationId": "post-user",
        "summary": "Add a new user to the organisation",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          }
        ],
        "requestBody": {
          "description": "User data request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "message": {
                      "type": "string",
                      "example": "User created"
                    },
                    "id": {
                      "type": "string",
                      "example": "example@huler.io"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request"
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user403Response"
                }
              }
            }
          },
          "500": {
            "description": "500 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "User not created"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "UsersAPI"
        ],
        "operationId": "delete-user",
        "summary": "Delete a user from an organisation",
        "requestBody": {
          "description": "User data request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "userID": [
                    "example@huler.io"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "message": {
                      "type": "string",
                      "example": "Delete successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request"
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user403Response"
                }
              }
            }
          },
          "500": {
            "description": "500 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Could not delete user(s)"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "UsersAPI"
        ],
        "operationId": "put-user",
        "summary": "Update an existing user in an organisation",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "requestBody": {
          "description": "User data request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "message": {
                      "type": "string",
                      "example": "Update Successful"
                    },
                    "queryResponse": {
                      "$ref": "#/components/schemas/user"
                    },
                    "queryResponseType": {
                      "type": "string",
                      "example": "UserResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request"
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user403Response"
                }
              }
            }
          },
          "500": {
            "description": "500 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Could not update user"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "UsersAPI"
        ],
        "operationId": "get-user",
        "summary": "Get a specific user's info from an organisation",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getUserResponseObject"
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request"
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user403Response"
                }
              }
            }
          },
          "500": {
            "description": "500 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Could not get user(s)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{orgPath}/{userPath}/picture": {
      "delete": {
        "tags": [
          "UsersAPI"
        ],
        "operationId": "delete-user-profilepic",
        "summary": "Delete a user's profile picture",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "message": {
                      "type": "string",
                      "example": "Delete successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request"
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user403Response"
                }
              }
            }
          },
          "500": {
            "description": "500 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Delete not successful"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "forbiddenResponse": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string",
            "example": "User is not authorized to access this resource with an explicit deny"
          }
        }
      },
      "conflictResponse": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string",
            "example": "This resource already exists"
          }
        }
      }
    }
  }
}